* {
    margin-top: 28;
    margin-left: 37;
    margin-right: 37;
    margin-bottom: 37;
}

.Header {
    width: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    border-bottom: 1px solid lightgray;
}

.Body {
    width: auto;
    height: 100vh;
    display: flex;
    margin-top: 10px;
    padding: 10px;
}

.Body>.Left_Section {
    flex: 6;
    margin-right: 10px;
    background-color: brown;
}

.Body>.Right_Section {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.Right_Section>.Top_Aside {
    flex: 2;
    margin-bottom: 5px;
}

.Right_Section>.Bottom_Aside {
    flex: 4;
    height: 80vh;
    margin-top: 5px;
    background-color: orange;
}

.LoginButton {
    width: 100%;
    height: 40vh;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #0099ff;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
}

.LoginButton:hover {
    background-color: #007acc;
}